@typeparam TItem;

@if (DynamictypeObject.Data is not null)
{
    <table class="@TableStyle">

        <tr>
            @foreach (var item in DynamictypeObject.GetTypeProperties())
            {
                <th class="@OuterStyle">
                    @item
                </th>
            }
        </tr>

        @for (int i = 0; i < DynamictypeObject.Data.Count; i++)
        {

            <tr>

                @foreach (var item in DynamictypeObject.GetTypeProperties())
                {
                    var value = DynamictypeObject.GetPropertyValue(i, (string)item);
                    <td class="@InnerStyle">
                        @if (DynamictypeObject.IsList(value))
                        {
                            @foreach (var listItem in (List<object>)value)
                           {
                               @listItem<br />
                           }
                        }
                        else
                        {
                            @this.DynamictypeObject.GetPropertyValue(i, (string)item)
                        }
                    </td>
                }

            </tr>

        }
    </table>
}
else
{
    <p>Loading......</p>
}

@code {

    [Parameter]
    public DynamicTypeContainer<TItem> DynamictypeObject { get; set; }

    [Parameter]
    public string OuterStyle { get; set; }

    [Parameter]
    public string InnerStyle { get; set; }

    [Parameter]
    public string TableStyle { get; set; }
}